html{
    font-family: 'Varela Round', sans-serif;

}
*{
    color: black;
  
}
.container-main{
    width: 80%;
    margin: 0px auto;

}
.container-menu{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    align-items: center;
}
.logotipo{
    width: 128px;
    height: 128px;
  
}
.menu-central{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.link-menu{
    text-decoration: none;
    font-size: 20px;
    margin: 30px;

}
.link-menu:hover{

background-color: aqua;
}
.botao-contactar{
    box-shadow: -4px 0px 15px -4px rgb(0 0 0 / 34%);
    background-color: rgb(0, 255, 21);
    border-radius: 10px;
    width: 109.87px;
    height: 37px;
  justify-content: center;
    align-items: center;
    display: flex;
   
}
.link-contactar{
    text-decoration:none;
    font-size: 14.65px;
    color:white;
}

.container-inform-receitas{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
   


    
}
.container-receita1{
    box-shadow: -4px 0px 15px -4px rgb(0 0 0 / 34%);
    display: flex;
    flex-direction: column;
}
.cont-imagem-receita{
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid;
}
.imagem-receita{
    width: 223px;
    height: 126px;
    
}
.imagem-receita:hover{
    -webkit-transform: scale(0.5);
    transform: scale(1.2);
}
.container-titulo_receita{
    border: 1px solid;
    display: flex;
    justify-content: center;
}

.container-rodape{
    margin-top: 100px;
    display: flex;
    background: black;
    border-radius: 20px;
    height:80px ;
    align-items: center;
    justify-content: space-around;
}

.link-rodape{
    width:60px ;
    height:60px ;
    border-radius: 50px;
    
}
@media (max-width: 500px)
{
  .container-main
   {
    flex-direction: column;
    display: flex;
   }
}